<div class="container">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <h1>Registration Form</h1>
      <form [formGroup]="form" (submit)="submitForm()">
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          </div>
          <input formControlName="fullName" class="form-control" placeholder="Full Name"/>
        </div>
        <div class="alert alert-danger" *ngIf="fullName?.touched && fullName?.errors?.required">
          Full name is required
        </div>
        <div class="alert alert-danger" *ngIf="fullName?.dirty && fullName?.errors?.pattern">
          Required pattern: 'First Second'
        </div>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
          </div>
          <input formControlName="email" class="form-control" placeholder="Email Address" type="email"/>
        </div>
        <div class="alert alert-danger" *ngIf="email?.touched && email?.errors?.required">
          Email is required
        </div>
        <div class="alert alert-danger" *ngIf="email?.dirty && email?.errors?.pattern">
          Required pattern: 'example@example.com'
        </div>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
          </div>
          <select formControlName="areaCode" class="custom-select">
            <option *ngFor="let code of areaCodes" value="{{code}}">{{code}}</option>
          </select>
          <input formControlName="phoneNumber" class="form-control" placeholder="Phone number" type="text"/>
        </div>
        <div class="alert alert-danger" *ngIf="areaCode?.touched && areaCode?.errors?.required">
          Area code is required
        </div>
        <div class="alert alert-danger" *ngIf="phoneNumber?.touched && phoneNumber?.errors?.required">
          Phone number is required
        </div>
        <div class="alert alert-danger" *ngIf="phoneNumber?.dirty && phoneNumber?.errors?.pattern">
          Nine digits required
        </div>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-building"></i> </span>
          </div>
          <select formControlName="role" class="form-control">
            <option disabled>Select role</option>
            <option *ngFor="let role of roles" value="{{role}}">{{role}}</option>
          </select>
        </div>
        <div class="alert alert-danger" *ngIf="role?.touched && role?.errors?.required">
          Role is required
        </div>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
          </div>
          <input formControlName="password" class="form-control" placeholder="Create password" type="password"/>
        </div>
        <div class="alert alert-danger" *ngIf="password?.touched && password?.errors?.required">
          Password is required
        </div>
        <div class="alert alert-danger" *ngIf="password?.dirty && password?.errors?.pattern">
          Numbers and digits, min 3, max 16
        </div>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
          </div>
          <input formControlName="repeatPassword" class="form-control" placeholder="Repeat password" type="password"/>
        </div>
        <div class="alert alert-danger" *ngIf="password?.value != repeatPassword?.value">
          Passwords don't match
        </div>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-image"></i> </span>
          </div>
          <input formControlName="imageUrl" class="form-control" placeholder="Image URL" type="text"/>
        </div>
        <div class="alert alert-danger" *ngIf="imageUrl?.touched && imageUrl?.errors?.image">
          Image url not valid
        </div>
        <div class="form-group">
          <button type="submit" [disabled]="form.invalid" class="btn btn-primary btn-block"> Create Account</button>
        </div>
        <p class="text-center">Have an account? <a href="">Log In</a></p>
      </form>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>
